body,
html {
  width: 100%;
  height: 100%;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  /*font-weight: 700;*/
}

/* Base */

.main-body{
  /*background-image: url("../imgs/bg2.jpg");
  */
  background-color: #1D809F;
  font-family: "Open Sans", sans-serif;

}

.body-wrapper{
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  margin: 50px;
  position: relative;
}

@media (max-width: 767px) {
  .body-wrapper {
    margin: 30px;
  }
}

@media (max-width: 575px) {
  .body-wrapper {
    margin: 10px;
  }
}

@media (max-width: 1199px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.default-header {
  padding: 20px 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

@media (max-width: 1199px) {
  .default-header {
    padding: 20px 30px;
  }
}

@media (max-width: 767px) {
  .default-header {
    padding: 20px 15px;
  }
}
.main-menubar {
  position: relative;
}

nav {
  margin-right: 70px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  transform-origin: 100% 50%;
}

@media (max-width: 767px) {
  nav {
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 47px;
    text-align: right;
    padding: 20px 0;
    z-index: 5;
    background: #fff;
  }
}

nav.hide {
  transform: scale(0);
}

nav a {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  margin: 0 25px;
  display: inline-block;
}

@media (max-width: 767px) {
  nav a {
    margin: 5px 25px;
  }
}

nav a:hover {
  color: #e0003b;
}

.menu-bar {
  cursor: pointer;
}

.menu-bar span {
  color: #222222;
  font-size: 24px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container.fullwidth {
  width: 100%;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.banner-area {
  background: #fff;
}

@media (max-width: 767px) {
  .banner-area .fullscreen {
    height: 800px !important;
  }
}

@media (max-width: 767px) {
  .banner-content {
    margin-top: 100px;
  }
}

.banner-content h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.15em;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .banner-content h1 {
    font-size: 36px;
  }
}

@media (max-width: 991px) {
  .banner-content h1 br {
    display: none;
  }
}

.banner-content p {
  margin-bottom: 60px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .banner-content p {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .banner-content p br {
    display: none;
  }
}

.relative {
  position: relative;
}

/* Upload Section
--------------------------------*/
#upload {
  padding: 80px 0;
}

#upload .upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
#upload .upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
#upload .upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

#upload .upload_sec{
  padding: 10px 0;
}

#upload .processed h3, button{
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

#upload .display{
  padding:10px 0;
}

#upload .display_items{
  float: left;
  width: 33.3%;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  #upload .display_items {
    width: 100%;
  }
}

#upload .display_items img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#upload .display_items .button_container{
  position: relative;
  width: 100%;
  max-width: 400px;
}

#upload .display_items .button_container #delete_button{
  position: absolute;
  top: 10px;
  left:10px;
}

#upload .display_items .button_container #edit_button{
  position: absolute;
  top: 10px;
  right:10px;
}




/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}

/* Search Section
--------------------------------*/
#search {
  padding: 80px 0;
}

#search .btn_color{
  background: #1D809F;
}

#search .message{
  padding: 30px;
  text-align: center;
}

#search #portfolio-wrapper {
  padding-right: 15px;
  padding: 80px;
}

#search .portfolio-item {
  position: relative;
  height: 200px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  transform: scale(1);
}

#search .portfolio-item a {
  display: block;
  margin-right: 15px;
}

#search .portfolio-item img {
  position: centre;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#search .portfolio-item .details {
  height: 50px;
  background: #1D809F;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#search .portfolio-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#search .portfolio-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#search .portfolio-item:hover .details {
  bottom: 0;
}

#search .portfolio-item:hover img {
  top: -30px;
}