{% extends 'base.html' %}

{% block content %}

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Foram-Tagger</h1>
        <h3 class="mb-5">
          <em>Automate the process and build a new library</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Upload</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Search</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Gallery</a>
    </header>

{% endblock %}
