{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between" style="height:600px">
      <div class="col-lg-6 col-md-7 col-sm-8">
        <div class="banner-content">
          <h1>Foram Tagger <br> </h1>
          <p>Living in today’s technological world, we automate the process of identifying the species and storing in a cloud database.</p>
          <a href="{% url 'uploadImage' %}" class="primary-btn">Get Started</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-4">
        <img src="{% static 'imgs/bg2.jpg' %}" alt="AH" class="img-fluid">
      </div>
    </div>


{% endblock %}
