{% extends 'base.html' %}

{% block content %}

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Foram-Tagger</h1>
        <h2 class="mb-5">Automate the process and build a new library
        </h2>
        <a class="btn-get-started" href="{% url 'uploadImage' %}">Upload</a>
        <a class="btn-get-started" href="{% url 'searchFunction' %}">Search</a>
        <a class="btn-get-started" href="{% url 'displayImage' %}">Gallery</a>
    </header>

{% endblock %}
