{% extends 'base.html' %}
{% load custom_tag %}
{% block title %}Search {% endblock %}

{% block content %}

<section id="search">

  <div class="section-header">
    <h3 class="section-title">Foram Gallery</h3>
    <p class="section-description">Search and view all the forams in the database.</p>
  </div>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">

          <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
              </div>
              <form method="GET" action="{% url 'searchFunction' %}" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="text" name="search" placeholder="Search">
              </div>
              <div class="col-auto">
                <button class="btn btn-lg btn-success btn_color" type="submit">Search</button>
              </div>
            </form>
            </div>
          </form>

{% if message %}
<div class="message">
  <p>{{message}}</p>
  </div>
{% endif %}

      {% if forams %}
      <div class="row" id="portfolio-wrapper">
        {% for foram in forams %}
        <div class="col-lg-3 col-md-6 portfolio-item">
            <img src="{{ foram.imgLocation.url|slice:"1:" }}" style="width:100%" onclick="openModal();currentSlide({{forloop.counter}})" class="hover-shadow cursor"><br/>
            <div class="details">
              <h4>{{ foram.species_id }}</h4>
              <span>Description</span>
            </div>
          </a>
        </div>
        {% endfor %}
        <ul class="pagination pagination-lg">
          {% if forams.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ forams.previous_page_number }}">Previous</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
          {% endif %}
          {% for i in forams.paginator.page_range|boundary:forams.number %}
            {% if forams.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if forams.has_next %}
           <li class="page-item"><a class="page-link" href="?page={{ forams.next_page_number }}">Next</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
          {% endif %}
        </ul>
      </div>
   {% endif %}



      </div>
    </div> <!-- /container -->
</div>
</section>


<script>
    function openModal() {
      document.getElementById('myModal').style.display = "block";
      document.getElementById('sidebar').style.display = "none";
    
    }
    
    function openEdit() {
      document.getElementById('edit').style.display = "none";
    }
    
    function closeModal() {
      document.getElementById('myModal').style.display = "none";
      document.getElementById('sidebar').style.display = "block";
    
    }
    
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
    </script>
{% endblock %}
