{% extends 'base.html' %}
{% load static %}

{% block title %}Upload Photo {% endblock %}
{% block header %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'css/layui.css' %}">
{% endblock %}

{% block content %}

<div class="container">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Select files from your computer</h4>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            {% csrf_token %}
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="img" id="js-upload-files" multiple>
              </div>
              <input type="submit" value="submit">
            </div>
          </form>

          <!-- Drop Zone -->
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
          <div class="layui-upload-drag" id="test10">
            <i class="layui-icon"></i>
            <p>Drag and drop your image here</p>
          </div>
        </form>


          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="img">
    <input type="submit" value="submit">
    
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/layui.js' %}" charset="utf-8"></script>
<script type="text/javascript">

  layui.use('upload', function(){
    var $ = layui.jquery
    ,upload = layui.upload;

    upload.render({
      elem: '#test10'
      ,url: '/upload/'
      ,done: function(res){
        console.log(res)
      }
    });

  });
</script>
{% endblock %}
