{% extends 'base.html' %}
{% load static %}

{% block title %}Upload Photo {% endblock %}
{% block header %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block content %}

<section id="upload">
<div class="section-header">
  <h3 class="section-title">Upload Images</h3>
  <p class="section-description">Upload raw foram images for segmentation and identification. </p>
</div>

<div class="container">
      <div class="panel panel-default">

        <div class="panel-body">
          <!-- Standar Form -->
          <!--<div class="upload_sec">
          <h3>Select files from your computer</h3>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            {% csrf_token %}
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="img" id="js-upload-files" multiple>
              </div>
              <input type="submit" value="submit">
            </div>
          </form>
          </div>-->

          <form method="post" action="{% url 'clear_database' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-danger pull-right">
              <span class="glyphicon glyphicon-trash"></span> Clear Database
            </button>
          </form>

          <div style = "text-align:center">
          <button type="button" class="btn btn-primary js-upload-photos">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
          </button>
            </div>
          <!-- Drop Zone -->
          <div class="upload_sec">
            <div class="upload-drop-zone">
            <p>Drop Photos Here to Upload</p>
              </div>
          </div>

          <input id="fileupload" type="file" name="imgLocation" multiple
                 style="display: none;"
                 data-url="{% url 'uploadImage' %}"
                 data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

          <table id="gallery" class="table table-bordered">
         <thead>
           <tr>
             <th>Recognised forams</th>
           </tr>
         </thead>
         <tbody>
           {% for photo in photos %}
             <tr>
              <!-- <td><img src="{{ photo.imgLocation.url }}"><br/>
               <p>{{ photo.imgLocation.name }}</p></td> -->
             </tr>
           {% endfor %}
         </tbody>
       </table>

          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <h3>Processed files</h3>
            {% for photo in photos %}
            <div class="list-group">
              <a href="{{ photo.imgLocation.url }}" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>{{ photo.imgLocation.name }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div> <!-- /container -->

</section>

{% endblock %}

{% block scripts %}

  <script src="{% static 'js/js_upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/js_upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/js_upload/jquery.fileupload.js' %}"></script>
  <script src="{% static '/js/basic-upload.js' %}"></script>


{% endblock %}
