{% extends 'base.html' %}
{% load static %}

{% block title %}Upload Photo {% endblock %}
{% block header %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% endblock %}

{% block content %}

<section id="upload">
<div class="section-header">
  <h3 class="section-title">Upload Images</h3>
  <p class="section-description">Upload raw foram images for segmentation and identification. </p>
</div>

<div class="container">
      <div class="panel panel-default">
        <div class="panel-body">

          <form method="post" action="{% url 'clear_database' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn btn-danger pull-right">
              <span class="glyphicon glyphicon-trash"></span> Clear Database
            </button>
          </form>

          <div style = "text-align:center">
          <button type="button" class="btn btn-primary js-upload-photos">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
          </button>
            </div>
          <!-- Drop Zone -->
          <div class="upload_sec">
            <div class="upload-drop-zone">
            <p>Drop Photos Here to Upload</p>
              </div>
          </div>

          <input id="fileupload" type="file" name="imgLocation" multiple
                 style="display: none;"
                 data-url="{% url 'uploadImage' %}"
                 data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>


          <!-- Upload Finished -->
          <div class="processed">
            <h3>Processed files</h3>
            <button type="submit" class="btn btn-primary pull-right" id="edit_button">
              <span class="glyphicon glyphicon-edit"></span> Edit tags</button>
          </div>

            <div class="display">
              {% for photo in photos %}
              <div class="display_items">
              <img src="{{ photo.imgLocation.url }}"><br/>
                  <p>{{ photo.species_id }}</p>
                  <div class="edit" style="display: none;">
                  <form method="post" action="{% url 'uploadImage' %}">
                    {% csrf_token %}
                    <input type="text" name="uploaded_img_id" value="{{photo.pk}}" hidden>
                    <input type="text" name="original_url" value="{{request.get_full_path}}" hidden>
                    <input type="text" name="species" value="{{photo.species_id}}">
                    <input type="submit" value="submit" id="edit_submit">
                   </form>
                   </div>
                   </div>
              {% endfor %}
        </div>


    </div> <!-- /container -->
</div>
</div>


</section>


{% endblock %}

{% block scripts %}

  <script src="{% static 'js/js_upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/js_upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/js_upload/jquery.fileupload.js' %}"></script>
  <script src="{% static '/js/basic-upload.js' %}"></script>


{% endblock %}


<!-- Standar Form -->
<!--<div class="upload_sec">
<h3>Select files from your computer</h3>
<form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
  {% csrf_token %}
  <div class="form-inline">
    <div class="form-group">
      <input type="file" name="img" id="js-upload-files" multiple>
    </div>
    <input type="submit" value="submit">
  </div>
</form>
</div>-->



<!-- Modal -->
<!--
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h4>Modify the tags</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="number"> Image name</label>
              <input type="text" class="form-control" id="number" placeholder="Enter number">
              <select>

              </select>
            </div>
            <div class="form-group">
              <label for="newtag">Correct tags</label>
              <input type="text" class="form-control" id="newtag" placeholder="Enter the correct tag, leave empty if not sure">
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

        </div>
      </div>

    </div>
  </div>
</div>




<div class="display" id="display">
{% for photo in photos %}
<div id="display" class="list-group">
  <a href="{{ photo.imgLocation.url }}" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>{{ photo.imgLocation.name }}</a>
</div>
{% endfor %}
</div>

-->
