{% extends 'base.html' %}

{% block title %}Foram Gallery {% endblock %}

{% block content %}

<section id="portfolio">

  <div class="section-header">
    <h3 class="section-title">Foram Gallery</h3>
    <p class="section-description">View all the forams in the database.</p>
  </div>


<div class="row" id="portfolio-wrapper">
{% for item in imgs %}
<div class="col-lg-3 col-md-6 portfolio-item">
  <a href="{{ item.imgLocation.url }}">
    <img src="{{ item.imgLocation.url }}"><br/>
    <div class="details">
      <h4>{{ item.species }}</h4>
      <span>Description</span>
    </div>
  </a>
</div>
{% endfor %}
</div>
</section>

{% endblock %}
